<h1>Form Validation</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input type="text" id="name" formControlName="name">
  <div *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
    <div *ngIf="myForm.get('name')?.errors?.['required']">Name is required.</div>
  </div>

  <label for="email">Email: </label>
  <input type="email" id="email" formControlName="email">
  <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
    <div *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</div>
    <div *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format.</div>
  </div>

  <label for="message">Message: </label>
  <textarea type="message" formControlName="message"></textarea>
  <div *ngIf="myForm.get('message')?.invalid && (myForm.get('message')?.dirty || myForm.get('message')?.touched)">
    <div *ngIf="myForm.get('message')?.errors?.['required']">Message is required.</div>
  </div>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>
